services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      - WEBUI_PORT=${QBITTORRENT_WEBUI_PORT}
      - TORRENTING_PORT=${QBITTORRENT_TORRENTING_PORT}
    volumes:
      - ./qbittorrent/config:/config
      - ./downloads:/downloads
    ports:
      - "${QBITTORRENT_WEBUI_PUBLIC_PORT}:${QBITTORRENT_WEBUI_PORT}"     # Web UI
      - "${QBITTORRENT_TORRENTING_PORT}:${QBITTORRENT_TORRENTING_PORT}"     # TCP
      - "${QBITTORRENT_TORRENTING_PORT}:${QBITTORRENT_TORRENTING_PORT}/udp" # UDP
    restart: always
    networks:
      - media

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ./sonarr/config:/config
      - ./downloads:/downloads
      - ./media/tv:/tv
    ports:
      - "${SONARR_PORT}:8989"
    restart: always
    depends_on:
      - qbittorrent
      - prowlarr
    networks:
      - media

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ./radarr/config:/config
      - ./downloads:/downloads
      - ./media/movies:/movies
    ports:
      - "${RADARR_PORT}:7878"
    restart: always
    depends_on:
      - qbittorrent
      - prowlarr
    networks:
      - media

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ./bazarr/config:/config
      - ./media/movies:/movies
      - ./media/tv:/tv
    ports:
      - "${BAZARR_PORT}:6767"
    restart: always
    depends_on:
      - sonarr
      - radarr
    networks:
      - media

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - ./prowlarr/config:/config
    ports:
      - "${PROWLARR_PORT}:9696" # Web UI
    restart: always
    depends_on:
      - qbittorrent
      - flaresolverr
    networks:
      - media

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${FLARESOLVERR_LOG_LEVEL}
      - TZ=${TZ}
    ports:
      - "${FLARESOLVERR_PORT}:8191"
    restart: always
    networks:
      - media

networks:
  media:
    name: media
    driver: bridge
